h1 {
    font-family:Franklin Gothic Medium;
}
h2 {
    font-family:Franklin Gothic Medium;
}
#ware {
    font-family:Courier New;
}
figcaption {
    font-family:Franklin Gothic Medium;
}
.heading {
    font-family:Courier New;
    font-size: 25px;
}
.contacts {
    font-sixe: 15px;
}
.reviews {
    font-family:Franklin Gothic Medium;
}
li {
    display: inline-block;
}
a {text-decoration: none;
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}