h1 {
    font-family:Franklin Gothic Medium;
}
h2 {
    font-family:Franklin Gothic Medium;
}
#ware {
    font-family:Courier New;
}
#menu {
    color:#1f2905;
}
figcaption {
    font-family:Franklin Gothic Medium;
}